- if user_signed_in? && !current_user&.author_of?(resource)
  .vote id="vote-#{resource.class.name.downcase}-#{resource.id}"
    p class='vote__value'
      = resource.total_votes
    = link_to 'Up', polymorphic_path(resource, action: :vote_up),
          method: :post,
          remote: true,
          data: { type: :json },
          class: (resource.votes.where(user: current_user).exists? ? 'vote__up hidden' : 'vote__up')
    = link_to 'Unvote', polymorphic_path(resource, action: :unvote),
          method: :delete,
          remote: true,
          data: { type: :json },
          class: (resource.votes.where(user: current_user).exists? ? 'vote__unvote' : 'vote__unvote hidden')
    = link_to 'Down', polymorphic_path(resource, action: :vote_down),
          method: :post,
          remote: true,
          data: { type: :json },
          class: (resource.votes.where(user: current_user).exists? ? 'vote__down hidden' : 'vote__down')